Flask
pinecone-client[grpc]
pinecone-datasets==0.7.0
langchain==0.1.1
langchain-community==0.0.13
tiktoken==0.5.2
datasets
typing_extensions==4.7.1
langchain-openai
openai
pydantic==1.10.8
pyttsx3
pyaudio
speechrecognition
langchainhub